 body{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 550px;
      background: url(lappy.jpg);
     background-repeat: no-repeat;
     background-attachment:fixed;
      background-size: cover;
      background-position: center;



      }


    .box{
      width:320px;
      height: 420px;
      background: #000;
      border-radius:20px;
      color: #fff;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
      }
      .loginbox{
      width:320px;
      height: 460px;
      background: #000;
      border-radius:20px;
      color: #fff;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
      }
      .registerbox{
      width:320px;
      height: 500px;
      background: #000;
      border-radius:20px;
      color: #fff;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
      }

      .avatar{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position:absolute;
      top: -50px;
      left: calc(50% - 50px);}

      h1{
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0 0 20px;
      text-align: center;
      font-size: 22px;
       }

       .box p{
       font-family: Arial, Helvetica, sans-serif;
       margin:0;
       padding:5px;
       font-weight: bold;
       font-size:20px;}

       .box input{
       width:100%;
       margin:bottom:20px;}

       .box input
       {
       border: none;
       border-bottom: 1px solid #fff;
       background: transparent;
       outline:none;
       height:30px;
       color:#fff;
       font-size:16px;}

    .loginbox button{
        border: none;
        outline: none;
        font-size:18px;
        background: #228b22;
        width: 250px;
        height:40px;
        color: #fff;
        border-radius:20px;
        position:absolute;
       left: 30px;
       top: 300px;
       }
    .loginbox button:hover
       { cursor:pointer;
       background:#228b22;
       color:#000;}

       .registerbox button{
        border: none;
        outline: none;
        font-size:18px;
        background: #228b22;
        width: 250px;
        height:40px;
        color: #fff;
        border-radius:20px;
        position:absolute;
       left: 30px;
       top: 360px;


    }
    .registerbox button:hover
       { cursor:pointer;
       background:#228b22;
       color:#000;}


       .register #info{
       font-family: Arial, Helvetica, sans-serif;
       position:absolute;
       text-decoration:none;
       font-size:15px;
       line-height: 20px;
       color: darkgray;
       top: 406px;
       right:98px;

       }
       .login #info{
       font-family: Arial, Helvetica, sans-serif;
       position:absolute;
       text-decoration:none;
       font-size:15px;
       line-height: 20px;
       color: darkgray;
       top: 350px;
       right: 118px;

       }

       .loginbox .login a{
       font-family: Arial, Helvetica, sans-serif;
       position:absolute;
       text-decoration:none;
       font-weight:bold;
       font-size:18px;
       line-height: 20px;
       color: darkgray;
       top:380px;
       right:170px;
       }

       .box .login a:hover{
       color:#228b22;
       }

        .registerbox .register a{
        font-family: Arial, Helvetica, sans-serif;
       position:absolute;
       text-decoration:none;
       font-weight:bold;
       font-size:18px;
       line-height: 20px;
       color: darkgray;
       top:435px;
       right:227px;
       }

       .box .register a:hover{
       color:#228b22;
       }
